body {
  background: pink;

  --SCALE: 1;
  --LINERADIUS      : calc(var(--SCALE) * 1px);
  --DOTRADIUS       : calc(var(--SCALE) * 2px);
  --SHADOWRADIUS    : calc(var(--SCALE) * 1px);
  --HOVERRADIUS     : calc(var(--SCALE) * 3px);
  --DASHLENGTH1     : calc(var(--SCALE) * 3px);
  --DASHLENGTH2     : calc(var(--SCALE) * 5px);
  --MINHEADLENGTH   : calc(var(--SCALE) * 5px);
  --SHADOWCOLOR     : white;
  --STROKECOLOR     : DimGray;
  --HOVERCOLOR      : rgb(137, 137, 137); /* 0.5 * DimGray + 0.5 * DarkGray */
  --FOCUSCOLOR      : DarkGray;
  --BGCOLOR         : rgba(245, 245, 245, 0.8); /* WhiteSmoke */
}
