head
  link(rel='stylesheet' type='text/css' href='L7.css')
  script(src='L7.js')
.root
  //-
  l7-box(rect='10%;10%;50%;50%')
    l7-border(slot='top')
      l7-port(offset='20%')
        //-
          l7-wire(slot='bottom' path='10%;20%;-20%;26%')
      l7-port(offset='50%')
        //-
          l7-wire(slot='top')
    l7-border(slot='top')
      l7-port(offset='60%')
        //-
          l7-wire(slot='top')
          l7-wire(slot='bottom')
    l7-border(slot='top')
    l7-border(slot='bottom')
      l7-port(offset='40%')
        //-
          l7-wire(slot='bottom')
        l7-box(slot='top' rect=';;20%;20%')
          l7-border(slot='top')
          l7-border(slot='bottom')
          l7-border(slot='bottom')
          l7-border(slot='left')
          l7-border(slot='right')
    l7-border(slot='bottom')
      l7-port(offset='50%')
        l7-box(slot='top' rect=';;20%;20%')
          l7-border(slot='top')
          l7-border(slot='bottom')
            l7-port(offset='50%')
          l7-border(slot='left')
          l7-border(slot='right')
        l7-box(slot='bottom' rect=';;30%;30%')
          l7-border(slot='top')
            l7-port(offset='20%')
              l7-box(slot='bottom' rect=';;60%;50%')
                l7-border(slot='top')
                l7-border(slot='bottom')
                l7-border(slot='left')
                l7-border(slot='right')
          l7-border(slot='bottom')
          l7-border(slot='left')
          l7-border(slot='right')
      l7-port(offset='70%')
        l7-box(slot='top' rect=';;25%;16%')
          l7-border(slot='top')
          l7-border(slot='bottom')
          l7-border(slot='left')
          l7-border(slot='right')

          l7-box(rect='50%;50%;100%;100%')
            l7-border(slot='top')
            l7-border(slot='bottom')
            l7-border(slot='left')
            l7-border(slot='right')
        l7-box(slot='bottom' rect=';;20%;20%')
          l7-border(slot='top')
          l7-border(slot='bottom')
          l7-border(slot='left')
          l7-border(slot='right')
    l7-border(slot='left')
      l7-port(offset='50%')
        l7-box(slot='right' rect=';;20%;20%')
          l7-border(slot='top')
          l7-border(slot='bottom')
          l7-border(slot='left')
          l7-border(slot='right')
    l7-border(slot='right')
      l7-port(offset='50%')
        //-
          l7-wire(slot='left')

    l7-box(rect='10%;14%;70%;50%')
      l7-border(slot='top')
      l7-border(slot='bottom')
      l7-border(slot='bottom')
      l7-border(slot='left')
      l7-border(slot='left')
      l7-border(slot='right')
    l7-box(rect='34%;51%;54%;35%')
      l7-border(slot='top')
      l7-border(slot='top')
      l7-border(slot='bottom')
      l7-border(slot='left')
      l7-border(slot='right')

//-
  .wire(style='--startX:130px; --startY:50px; --endX:10%; --endY:50%;')
    .h-seg(style='--length: -50px;')
      .v-seg(style='--length: calc(2.5 * var(--endY) - 610px);')
        .h-seg(style='--length: 200px;')
          .v-seg(style='--length: -70px;')
            .h-seg(style='--length: -50px;')
              .v-seg(style='--length: 50px;')
                .h-seg
                  .v-seg
  .wire(style='--startX:20px; --startY:100px; --endX:170px; --endY:120px;')
    .v-seg(style='--length: 15%;')
      .h-seg(style='--length: 10%;')
        .v-seg(style='--length: 12%;')
          .h-seg(style='--length: 22%;')
            .v-seg(style='--length: 5%;')
              .h-seg(style='--length: -12%;')
                .v-seg
                  .h-seg
  .wire(style='--startX:130px; --startY:450px; --endX:230px; --endY:550px;')
    .h-seg(style='--length: -50px;')
      .v-seg(style='--length: -70px;')
        .h-seg(style='--length: -50px;')
          .v-seg(style='--length: 50px;')
            .h-seg
              .v-seg
  div(style='position:absolute;left:10px;top:400px;width:200px;height:200px;background:rgba(220,0,0,0.9);')
  .wire(style='--startX:150px; --startY:500px; --endX:30px; --endY:430px;')
    .h-seg(style='--length: 50px;')
      .v-seg(style='--length: 20px;')
        .h-seg(style='--length: -50px;')
          .v-seg(style='--length: 30px;')
            .h-seg(style='--length: 80px;')
              .v-seg
                .h-seg
