head
  link(rel='stylesheet' type='text/css' href='L7.css')
  script(src='L7.js')
.box(style={'--left': '100px', '--top': '100px', '--width': '400px', '--height': '400px'})
  dragg-able.part
  .port(dir='top-left')
    dragg-able.part
  .port(dir='top-right')
    dragg-able.part
  .port(dir='bottom-left')
    dragg-able.part
  .port(dir='bottom-right')
    dragg-able.part
  .border(dir='top')
    dragg-able.part
      .handle
  .border(dir='bottom' name='1' style={'--order': '0'})
    dragg-able.part
      .handle
    .port(name='C' style={'--offset': '20%'})
      dragg-able.part
  .border(dir='bottom' name='2' style={'--order': '1'})
    dragg-able.part
      .handle
    .port(name='A' style={'--offset': '40%'})
      dragg-able.part
    .port(name='B' style={'--offset': '80%'})
      dragg-able.part
  .border(dir='left')
    dragg-able.part
      .handle
  .border(dir='right')
    dragg-able.part
      .handle
