head
  link(rel='stylesheet' type='text/css' href='L7.css')
  script(src='L7.js')

l7-box(style={'--left': '50px', '--top': '50px', '--width': '100px', '--height': '100px'})
  l7-port(slot='top-left')
  l7-port(slot='top-right')
  l7-port(slot='bottom-left')
  l7-port(slot='bottom-right')
  l7-border(slot='top')
    l7-port(type='hidden' style={'--offset': '50%'})
      l7-wire#0-start(type='dashed' dir='bottom' to='0-end')
        l7-port(slot='port')
  l7-border(slot='bottom' name='zero' style={'--order': '1'})
    l7-port(type='hidden' style={'--offset': '50%'})
      l7-wire#0-end(type='dashed' dir='top' from='0-start')
        l7-port(slot='port')
  l7-border(slot='bottom' name='succ' style={'--order': '0'})
    l7-port(name='value' type='hollow' style={'--offset': '50%'})
  l7-border(slot='left')
  l7-border(slot='right')

l7-box(style={'--left': '50px', '--top': '200px', '--width': '150px', '--height': '150px'})
  l7-port(slot='top-left')
  l7-port(slot='top-right')
  l7-port(slot='bottom-left')
  l7-port(slot='bottom-right')
  l7-border(slot='top')
  l7-border(slot='bottom' name='zero' style={'--order': '1'})
  l7-border(slot='bottom' name='succ' style={'--order': '0'})
    l7-port(name='value' type='hollow' style={'--offset': '75%'})
      l7-box(dir='top-left' style={'--width': '50%', '--height': '50%'})
        l7-port(slot='top-left')
        l7-port(slot='top-right')
        l7-port(slot='bottom-left')
        l7-port(slot='bottom-right')
        l7-border(slot='top')
          l7-port(type='hidden' style={'--offset': '50%'})
            l7-wire#1-start(type='dashed' dir='bottom' to='1-end')
              l7-port(slot='port')
        l7-border(slot='bottom' name='zero' style={'--order': '1'})
          l7-port(type='hidden' style={'--offset': '50%'})
            l7-wire#1-end(type='dashed' dir='top' from='1-start')
              l7-port(slot='port')
        l7-border(slot='bottom' name='succ' style={'--order': '0'})
          l7-port(name='value' type='hollow' style={'--offset': '50%'})
        l7-border(slot='left')
        l7-border(slot='right')
  l7-border(slot='left')
  l7-border(slot='right')

l7-box(style={'--left': '50px', '--top': '400px', '--width': '200px', '--height': '200px'})
  l7-port(slot='top-left')
  l7-port(slot='top-right')
  l7-port(slot='bottom-left')
  l7-port(slot='bottom-right')
  l7-border(slot='top')
  l7-border(slot='bottom' name='zero' style={'--order': '1'})
  l7-border(slot='bottom' name='succ' style={'--order': '0'})
    l7-port(name='value' type='hollow' style={'--offset': '81.1%'})
      l7-box(dir='top-left' style={'--width': '66.6%', '--height': '66.6%'})
        l7-port(slot='top-left')
        l7-port(slot='top-right')
        l7-port(slot='bottom-left')
        l7-port(slot='bottom-right')
        l7-border(slot='top')
        l7-border(slot='bottom' name='zero' style={'--order': '1'})
        l7-border(slot='bottom' name='succ' style={'--order': '0'})
          l7-port(name='value' type='hollow' style={'--offset': '75%'})
            l7-box(dir='top-left' style={'--width': '50%', '--height': '50%'})
              l7-port(slot='top-left')
              l7-port(slot='top-right')
              l7-port(slot='bottom-left')
              l7-port(slot='bottom-right')
              l7-border(slot='top')
                l7-port(type='hidden' style={'--offset': '50%'})
                  l7-wire#2-start(type='dashed' dir='bottom' to='2-end')
                    l7-port(slot='port')
              l7-border(slot='bottom' name='zero' style={'--order': '1'})
                l7-port(type='hidden' style={'--offset': '50%'})
                  l7-wire#2-end(type='dashed' dir='top' from='2-start')
                    l7-port(slot='port')
              l7-border(slot='bottom' name='succ' style={'--order': '0'})
                l7-port(name='value' type='hollow' style={'--offset': '50%'})
              l7-border(slot='left')
              l7-border(slot='right')
        l7-border(slot='left')
        l7-border(slot='right')
  l7-border(slot='left')
  l7-border(slot='right')

//-
  l7-box(style={'--left': '50px', '--top': '50px', '--width': '300px', '--height': '300px'})
    l7-port(slot='top-left')
    l7-port(slot='top-right')
    l7-port(slot='bottom-left')
    l7-box(slot='bottom-right' dir='top-left' style={'--width': '60%', '--height': '60%'})
      l7-port(slot='top-left')
        l7-wire#fold-structure-end(dir='top' from='fold-structure-start')
          l7-port(slot='port')
      l7-port(slot='top-right')
      l7-port(slot='bottom-left')
      l7-box(slot='bottom-right' dir='top-left' style={'--width': '80%', '--height': '25%'})
        l7-port(slot='top-left')
        l7-port(slot='top-right')
        l7-port(slot='bottom-left')
        l7-port(slot='bottom-right')
        l7-border(slot='top' name='zero' style={'--order': '0'})
          l7-port(type='hidden' style={'--offset': '30%'})
            l7-wire#fold-zero-end(type='dashed' dir='top' from='fold-zero-start')
              l7-port(slot='port')
        l7-border(slot='top' name='succ' style={'--order': '1'})
          l7-port(name='value' style={'--offset': '60%'})
            l7-wire#fold-succ2-end(dir='top' from='fold-succ2-start')
              l7-port(slot='port')
        l7-border(slot='bottom')
        l7-border(slot='left')
          l7-port(style={'--offset': '50%'})
            l7-wire#fold-function-end(dir='left' from='fold-function-start')
              l7-port(slot='port')
        l7-border(slot='right')
      l7-border(slot='top' name='zero' style={'--order': '0'})
        l7-port(type='hidden' style={'--offset': '30%'})
          l7-wire#fold-zero-start(type='dashed' dir='bottom' to='fold-zero-end')
            l7-port(slot='port')
      l7-border(slot='top' name='succ' style={'--order': '1'})
        l7-port(name='value' type='hollow' style={'--offset': '60%'})
          l7-wire#fold-succ1-start(dir='bottom' to='fold-succ1-end')
            l7-port(slot='port')
      l7-border(slot='bottom')
      l7-border(slot='left')
        l7-port(style={'--offset': '50%'})
          l7-wire#fold-rec-start(dir='right' to='fold-rec-end')
            l7-port(slot='port')
      l7-border(slot='right')
      l7-box(style={'--left': '60%', '--top': '46%', '--width': '8%', '--height': '8%'})
        l7-port(slot='top-left')
          l7-wire#fold-succ1-end(dir='top' from='fold-succ1-start')
            l7-port(slot='port')
        l7-port(slot='top-right')
        l7-port(slot='bottom-left')
        l7-port(slot='bottom-right')
          l7-wire#fold-succ2-start(dir='bottom' to='fold-succ2-end')
            l7-port(slot='port')
        l7-border(slot='top')
        l7-border(slot='bottom')
        l7-border(slot='left')
          l7-port(style={'--offset': '50%'})
            l7-wire#fold-rec-end(dir='left' from='fold-rec-start')
              l7-port(slot='port')
        l7-border(slot='right')
    l7-border(slot='top')
      l7-port(name='function' style={'--offset': '15%'})
        l7-wire#fold-function-start(dir='bottom' to='fold-function-end')
          l7-port(slot='port')
      l7-port(name='structure' style={'--offset': '40%'})
        l7-wire#fold-structure-start(dir='bottom' to='fold-structure-end')
          l7-port(slot='port')
    l7-border(slot='bottom')
    l7-border(slot='left')
    l7-border(slot='right')
